---
layout: base
title: Home
---

<article class="page">
  <div class="page-content">
    <h2>Technical Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.category != "recap" %}
        <li>
          <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="page-contents">
    <h2>Recap Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.category == "recap" %}
        <li>
          <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</article>

