---
layout: base
title: Home
---

<article class="page">
  <div class="page-content">
    <h2>Technical Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.category != "recap" %}
        <li>
          <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="page-contents">
    <h2>Recap Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.category == "recap" %}
        <li>
          <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="CVE">
    <h2>CVEs</h2>
    <ul class="cves">
        <li>
          <a href="https://github.com/eclipse/openvsx/security/advisories/GHSA-59rm-2j5r-q2xw" class="post-link">Improper Authorization in /user/namespace/{namespace}/details/logo with smaury & zi0Black</a>
          <span class="post-meta">CVE-2025-1007</span>
        </li>
        <li>
          <a href="https://github.com/eclipse/openvsx/security/advisories/GHSA-wc7c-xq2f-qp4h" class="post-link">Improper Authorization in /user/namespace/{namespace}/details with smaury & zi0Black</a>
          <span class="post-meta">CVE-2025-1007</span>
        </li>
        <li>
          <a href="https://www.doyensec.com/resources/Doyensec_Advisory_ComfyUI_Manager_Path_Traversal_Install_Model_filename.pdf" class="post-link">ComfyUI Manager Path Traversal in
Install Model filename with lokiuox</a>
          <span class="post-meta">CVE-2025-45075</span>
        </li>
        <li>
          <a href="https://www.doyensec.com/resources/Doyensec_Advisory_ComfyUI_Manager_Path_Traversal_Install_Model_savepath.pdf" class="post-link">ComfyUI Manager Path Traversal in
Install Model save_path with lokiuox</a>
          <span class="post-meta">CVE-2025-45074</span>
        </li>
    </ul>
  </div>
</article>

